html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --surface-blanc: #fff; 
    --surface-creme: #f1f3f6;
    --bordure-arrondie: 8px;
    --ligne-claire: #c5c5d1;
    --texte-titre: #27273a;
    --texte-paragraphe: #333344;
    --texte-rouge: #b80047;
    --primaire: #005eb8;
}

body, input, button, textarea {
    font-family: 'Lunasima-Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: var(--texte-paragraphe);
}

* {
    box-sizing: border-box;
}

input, button, textarea {
    border: 2px solid var(--ligne-claire);
    border-radius: var(--bordure-arrondie);
    display: block;
    margin: 0 0 8px;
    padding: 15px;
    width: 100%;
}

button {
    background-color: var(--primaire);
    color: #fff;
    border: 0px solid var(--ligne-claire);
    border-radius:  var(--bordure-arrondie);
    margin-left: auto;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 8px 22px;
    width: auto;
}

 /* partie région */
.conteneur {
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.banniere {
    background-color: var(--surface-creme);
    padding: 24px 24px 80px 16px;
}
.conteneur-analyse {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: -48px;
}

.resultat {
    min-width: 380px;
    background-color: var(--surface-blanc);
    padding: 24px;
    border-radius: var(--bordure-arrondie);
}

/* partie formulaire */
form {
    width: 100%;
    min-width: 300px;
    max-width: 1200px;
    background-color: var(--surface-blanc);
    padding: 24px;
    border-radius: var(--bordure-arrondie);
}

textarea {
    width: 100%;
    max-width: 1200px;
    line-height: 1.5;
}

/* Partie texte */
h1 {
    font-size: 32px;
    color: var(--texte-titre);
    font-family: "Epilogue-Bold";
}

h2 {
    font-family: "Epilogue-Bold";   
    color: var(--texte-titre);
    font-size: 24px;
}

h3 {
    font-family: "Epilogue-Bold";
    color: var(--texte-titre);
    font-size: 18px;
}

p {
    max-width: 700px;
    line-height: 150%;
    margin-bottom: 24px;
}

.rouge {
    color: var(--texte-rouge);
}

@font-face {
    font-family: "Lunasima-Regular";
    src: url("Lunasima-Regular.woff2") format('woff2');
  }
  @font-face {
    font-family: "Epilogue-Bold";
    src: url("Epilogue-Bold.woff2") format('woff2');
  }



/* Partie responsive */
@media screen and (max-width: 900px) {
    .conteneur-analyse {
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 12px; 
        flex-wrap: wrap-reverse;
    }
    .resultat {
        min-width: 300px;
        background-color: var(--surface-blanc);
        padding: 24px;
        border-radius: var(--bordure-arrondie);
    }
   
}